*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

html,body {
    height: 100%;
    width: 100%;
}

header {
    height: 10rem;
    width: 100%;
}

.cabecalho_principal {
    height: 100%;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: row;
}

.cabecalho_img {
    height: 100%;
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cabecalho_img a {
    display: flex;
    border-radius: 50%;
}

.cabecalho_img img {
    height: 100%;
    width: 15rem;
    background-color: white;
}

.cabecalho_icones {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
}

.cabecalho_icones img {
    height: 100%;
    width: 80px;
    margin: 0 2rem;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.cabecalho_icones div {
    background-color: transparent;
}

